footer {
  .left {
    >li {
      >a {
        font-size: 1.6rem;
        font-weight: 500;
        line-height: 1.5;
        color: #fff;
      }
    }
  }

  .right {
    >li {
      transform: translateY(10%);

      >a {
        font-size: 2rem;
        line-height: 1.2;
        color: #fff;
      }

    }
  }

  @media screen and (max-width:500px) {
    .left {
      display: flex;
      flex-direction: column;
      gap: .5rem;
    }


  }
}