header {
  padding: 3rem 0;
  background-color: #2BAE66;

  nav {
    >div {

      h1 {
        font-size: 2.5rem;

        a {
          color: #FCF6F5;
        }
      }

      .sideBar {
        margin-right: -1rem;

        >li {
          >a {
            padding: 0 1rem;
            font-size: 2.3rem;
            color: #fff;
          }
        }
      }
    }
  }
}

@media screen and (max-width:768px) {
  header {

    nav {
      .sideBar {
        margin-right: 0;
      }
    }
  }
}